<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 <!-- this is our beans -->
 
 <bean class="com.spring.Student" name="student1">
 	<!-- <property name="studentId">
 		<value>22036</value>
 	</property> -->
 	
 	<property name="studentId" value="22036" />
 	
 	<property name="studentName" value="Nitya" />
 	
 	<property name="studentAddress" value="Kanpur" />
 </bean>
 
 <bean class="com.spring.Student" name="student2">
 	
 	<property name="studentId" value="22056" />
 	
 	<property name="studentName" value="Kshitij" />                                                                                  
 	
 	<property name="studentAddress" value="Hyderabad" />
 </bean>
 
 </beans>
 